
.monster-fairy{
    position: absolute;
    margin: 50px 50px 50px 210px;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    background: radial-gradient(rgba(175, 7, 175, 0.815),
    rgba(243, 113, 243, 0.336),rgba(255, 232, 252, 0));
    animation:fairy  2s infinite ease-out;
}

.monster-fairy .asa:nth-child(1){
    position: absolute;
    margin-left: 28px;
    margin-top: 5px;
    width: 20px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(240, 230, 140, 0.664);
    animation:  asa-direita 50ms infinite linear;
}
.monster-fairy .asa:nth-child(2){
    position: absolute;
    margin-left: px;
    margin-top: 2px;
    width: 20px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(240, 230, 140, 0.664);
    animation:  asa-esquerda 50ms infinite linear;
    
}

.fairy{
    margin-left: 180px;
    color: rgb(182, 0, 85);
}


@keyframes fairy  {
    0% {
        transform: translateY(50px);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(50px);
    }
}

@keyframes asa-esquerda  {
    0% {
        transform-origin: 0% 80%;
        transform: rotate(-230deg);
    }
    100% {
        transform-origin: 0% 80%;
        transform: rotate(-150deg);
    }
}
@keyframes asa-direita  {
    0% {
        transform-origin: 0% 80%;
        transform: rotate(60deg);
    }
    100% {
        transform-origin: 0% 80%;
        transform: rotate(-30deg);
    }

}


